@import 'variables';

body {
  background-color: #f4f4f4;
  color: $color-font;
  font-family: 'Roboto', sans-serif;
}

.content-container {
  max-width: 1400px;
  margin: 0 auto;
}

.button {
  &--primary {
    background-color: $color-primary;
  }
}