@import "variables";

body {
  background-color: #f4f4f4;
  color: $color-font;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
}

.content-container {
  max-width: 1400px;
  margin: 0 auto;
}

.button {
  &--primary {
    background-color: $color-primary;
  }
}

.carousel {
  .carousel-arrows {
    .carousel-arrow {
      border-radius: 5px !important;
      top: 45% !important;

      &.carousel-arrow-prev {
        left: -20px;
      }

      &.carousel-arrow-next {
        right: -20px;
      }
    }
  }
}
