@import "variables";

body {
  background-color: #f4f4f4;
  color: $color-font;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
}

.content-container {
  max-width: 1400px;
  margin: 0 auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  flex: 1;

  label {
    color: darkgray;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}

select {
  border: 2px solid #F3F3F3;
  border-radius: 4px;
  padding: 15px 20px;
  background-color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.button {
  &--primary {
    background-color: $color-primary;
  }
}

.carousel {
  .carousel-arrows {
    .carousel-arrow {
      border-radius: 5px !important;
      top: 45% !important;

      &.carousel-arrow-prev {
        left: -20px;
      }

      &.carousel-arrow-next {
        right: -20px;
      }
    }
  }
}
